@media screen and (width< 480px) {
    body{
      background-color: #ef3cb0;
      }
      #small, #large {
        display: none;
      }

      }
  
 
  @media screen and (width >= 480px) {
      body {
          background-color:#b1183e;
      }
  }

  @media screen and (width >=1024px) {
    body {
      background-color: #4C0033;
    }
  }


  