@media screen and (width< 480px) {
    body{
      background-color: #ef3cb0;
        font-size: 2em;
      }
    }
      /*i used this to make  the demand in the exercises, I no longer need it for a sequel.
 .parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);

#small { grid-area: 1 / 1 / 2 / 4; }
  */

 
  @media screen and (width >= 480px) {
      body {
          background-color:#b1183e;
          font-size: 2em;
      }
  }
/*i used this to make  the demand in the exercises, I no longer need it for a sequel.
      .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
      #medium{
        grid-area: 1 / 1 / 2 / 3;
        grid-area: 2 / 3 / 3 / 4;
      }
  */
  @media screen and (width >=1024px) {
    body {
      background-color: #4C0033;
      font-size: 2em;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
  }
#large{
    { grid-area: 1 / 1 / 2 / 4; }
}

/*i used this to make  the demand in the exercises, I no longer need it for a sequel.
.parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
  }
#large{
    { grid-area: 1 / 1 / 2 / 4; }
}
  */

/*i used this to make the boxes disappear, 
given the demand in the exercises, I no longer need it for a sequel.
  #small, #large {
    display: none;
  }
  */
  